.navbar {
    box-shadow: none;
}

.header{
    font-size: 2.6rem;
}

.features-icon {
    max-width: 15%;
    margin: 2em auto 0em auto;
    height: auto;
}

.features-header>h1 {
    font-weight: 600 !important;
    font-size: 3.5rem;
}

.feature-items{
    color: rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 100%;
    margin: 1.2em;
    padding: 1em;
    box-shadow: 5px 5px 15px rgba(11, 95, 215, 0.5)
}

.feature-items > img{
    max-width: 20%;
}
.features-card {
    width: 400px;
    height: 320px;
    border-radius: 20px;
    margin: 5em 2em 0em 5em;
    background: rgba(0, 105, 215, 0.8);
    box-shadow: 18px 18px 20px #aaaaaa;
}
.professor {
    margin-bottom: 2.5em;
}

.arrow {
    text-decoration: none;
}

.arrow>img {
    height: 40px;
}


.stepCard {
    width: 300px;
    height: 200px;
    background: #00ffa2;
    padding: 1rem;
    border-radius: 1rem;
    border: .5vmin solid #05060f;
    box-shadow: .4rem .4rem #05060f;
    overflow: hidden;
}

.pricing-block-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: .3rem;
}

.pricing-plan {
    color: #05060f;
    font-size: 1.3rem;
    line-height: 1.25;
    font-weight: 700;
}

.price-value {
    display: flex;
    color: #05060f;
    font-size: 1.8rem;
    line-height: 1.25;
    font-weight: 700;
}

.pricing-note {
    opacity: .9;
}


.price-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: grid;
    grid: auto / auto-flow;
    padding: 3px;
    margin-bottom: 16px;
    background: #eee;
    border-radius: 12px;
}

.price-home {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.price-homeActive {
    background: rgba(11, 95, 215, 0.8);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
    border-radius: 10px;
    height: 7em;
    font-size: 44px;
    color: rgba(231, 231, 231, 1);
    box-shadow: 10px 8px 28px rgba(0, 0, 0, 0.5);
}

.home {
    background: rgba(231, 231, 231, 1);
        color: rgba(31, 31, 31, 0.9);
        border: 0;
}

.about {
    background: rgba(231, 231, 231, 1);
    color: rgba(31, 31, 31, 0.9);
    border: 0;
}



.cta {
    display: flex;
    padding: 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: rgba(11, 95, 215, 0.8);
    transition: .5s;
    box-shadow: 6px 6px 10px rgba(17, 17, 17, 0.9);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 0 #FBC638;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 20px;
}


.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim .7s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim .7s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim .7s infinite 0.4s;
}

.rotating{
    animation: rotating 6s linear infinite;
}

.imgArrows{
    vertical-align: middle;
}

@keyframes rotating{
    100%{
        transform: rotate(360deg);
    }
}

.calculator{
    color: white;
    font-weight: 600;
    background: rgba(31, 31, 31, .8);
    margin: 2em;
    border-radius: 10px;
}


.orderNow{
    text-decoration: none;
    padding: 1em;
    border-radius: 15px;
    background-color: rgba(231, 231, 231, 0.9);
    color: rgba(17, 17, 17, 0.9);
    font-weight: 600;

}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 2.5rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.testimonial{
    background: rgba(202, 202, 202, 0.9);
}
.Usercard{
    background: rgba(241, 241, 241, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(150, 150, 150, 0.7);
}

.joinUsToday{
    background: #769dff;
}


/* ----------- ANIMATIONS ----------- */

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.slide-in-bck-center {
    -webkit-animation: slide-in-bck-center 1.5s ease-in-out both;
    animation: slide-in-bck-center 1.5s ease-in-out both;
}


@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}


@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(10px, -18px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }

    50% {
        stroke-dashoffset: 128;
    }

    75% {
        stroke-dashoffset: 192;
    }

    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(18px, -18px);
    }

    75% {
        transform: translate(0, -36px);
    }

    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }

    50% {
        stroke-dashoffset: 175;
    }

    75% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 275;
    }
}

.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-contract-bck-top {
    -webkit-animation: tracking-in-contract-bck-top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck-top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(-300px);
        transform: translateZ(400px) translateY(-300px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(-300px);
        transform: translateZ(400px) translateY(-300px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}




/* ============ MEDIA QUERIES =========== */



@media only screen and (min-width: 800px) {
    .professor>img {
        height: auto;
    }
}

@media only screen and (min-height: 800px) {
    
}

@media only screen and (min-width: 1900px) {
    .header {
        font-size: 3.2rem;
    }
}

@media only screen and (width >=1370px) {
    .description {
        font-size: 1.3rem;
    }

    .text-fluid {
        font-size: larger;
    }

    .individual-feature>span {
        font-size: 1.3rem;
        /* padding: 0px 15px 0px 15px; */
    }
}

@media only screen and (height > 850px) {
    .text-fluid {
        font-size: 1.4rem;
    }
}

@media only screen and (width < 700px) {
    .professor {
        margin-bottom: 2em;
    }
}

@media only screen and (width < 450px) {
    .features-header>h1 {
        font-size: 2.5rem;
    }
    .stepCard {
        width: 200px;
        height: 300px;
    }
}

@media only screen and (width < 1010px) {
    .professor {
        margin-bottom: 4em;
    }

}

@media only screen and (width > 2180px) {
    .description {
        font-size: 2rem;
    }
}

@media only screen and (width < 400px) or (width > 1300px) {

    .cta {
        padding: 6px 20px;
        font-size: 18px;
    }

    .cta:hover .three {
        animation: color_anim 1s infinite 0.2s;
    }

    .cta:hover .one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
    }

    .cta:hover .two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
    }

    .cta:focus {
        outline: none;
    }

    .cta:hover {
        transition: 0.5s;
        box-shadow: 6px 6px 0 #FBC638;
    }

    .cta .second {
        transition: 0.5s;
        margin-right: 0px;
    }

    .cta:hover .second {
        transition: 0.5s;
        margin-right: 45px;
    }
}

@media only screen and (width < 1000px) {
    .loader {
        display: none;
    }
    .imgArrows{
        display: none;
    }

    .header{
        font-size: 2rem;
    }
    .header > span{
        font-size: 2.5rem;
    }

    .stepOne > .stepCard, .stepTwo>.stepCard, .stepThree>.stepCard {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: space-evenly;
        margin: 2em 0 0 0 ;
    }


}
















