.nav-link-item:hover, #collasible-nav-dropdown:hover {
    border-bottom: 1px solid rgba(11, 95, 215, 0.8);
    transform: scale(1.05);
    transition: .3s;
}

.navbar{
    box-shadow: none;
}

.navDropdown, #collasible-nav-dropdown{
    color: #23272B;
}

.navContainer>img {
    width: 10%;
    object-fit: contain;
    cursor: pointer;
}

@media only screen and (width < 1000px) {
    .navContainer>img {
        width: 25%;
    }
}