
.navbarlinks{
    font-weight: bold;
    color: white;
}

.navbarlinks:hover{
    color: white;
    border-bottom: 2px solid !important; 
    font-size: 1.2rem;
    border-color: white;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}