/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: none;
}

nav {
    height: 10vh;
    width: 100vw;
}

.navbar {
    background-color: rgb(211, 211, 211);
}

.chaapa-c {
    color: rgba(0, 124, 188, 1);
}

.chaapa-heading {
    margin-top: -0.7em;
    font-size: 3.5rem;
    font-weight: 800;
}

.landing-1>P {
    margin: .5em;
    padding: 1.5em;
    color: black;
}

.right-img>img {
    border-radius: 30px 30px 50px 3px;
    width: 28rem;
}

.for-individuals-left>img {
    border-radius: 0px 20px 20px 0px;
    width: 30rem;
    margin-left: 2em;
}

.for-education>img {
    border-radius: 20px 0px 0px 20px;
    width: 30rem;
    margin-left: 2em;
}

.for-individuals {
    background-color: rgba(255, 255, 255, 0.9);
}

.for-individuals-right>h1 {
    margin-top: 1em;
    font-weight: 600;
}

.features {
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 45% 45% 0% 0%;
    background-color: #CFE8F6;
    height: 50vh;
}
.features-item{
    margin-top: -2em;
}
.features-item>img {
    height: 4rem;
    transition: .3s;
}

.features-item>h3 {
    margin-top: 1em;
    margin-left: .5em;
}

.features-item > img:hover{
    transform: scale(1.1);
}




@media only screen and (max-width: 500px) {
    .chaapa-heading {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 780px) {
    .right-img>img {
        display: none;
    }
} */