body{
    background: url('../../assets/blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
 .form-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
 }

.form-floating > button {
    background-color: rgb(0,124,188);
}

#countryDropDown{
    width: 20rem;
}
